* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  line-height: 2em;
  color: black;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
/* CAROUSEL */
.w3l-index1 {
  margin-top: 90px;
}
.w3l-index1 .content {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: #ffffff;
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)),
    url(../img/masterWork01.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  padding-top: 5rem;
}
.w3l-index1 .content-left h3 {
  font-size: 50px;
  line-height: 57.5px;
  color: #2c3038;
  font-weight: 700;
}
.w3l-index1 .content-left p {
  color: #5a5a5a;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  max-width: 450px;
}
.align-items-center {
  align-items: center !important;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/* CLASS TITLE  */
.title {
  margin: 10px auto;
  text-align: center;
  max-width: 750px;
}

.title h3 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: #dc4f72;
  margin-bottom: 5px;
}

.title h2 {
  font-size: 3rem;
  font-weight: 700;
  color: black;
}

.title p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em;
  color: #5a5a5a;
  margin: 16px 0;
}

/* CLASS .btn-primary  */
.btn-primary {
  font-size: 0.9rem;
  color: #dc4f72;
  font-weight: 500;
  background-color: white;
  border-color: #dc4f72;
  padding: 10px 30px;
  transition: all 0.5s;
}

.btn-primary:hover {
  color: white;
  background-color: #d62f58;
  border-color: #d62f58;
}

/* ABOUT US */
#aboutUs .title h2 {
  font-size: 2.1rem;
}

#aboutUs .title p {
  line-height: 1.5em;
}

#aboutUs .title a.btn-primary {
  background-color: #dc4f72;
  color: white;
}

#aboutUs .aboutUs__content img {
  border-radius: 10px;
}

/* NUMBER  */
#number .number__content .number__item {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#number .number__content .number__item h4 {
  font-size: 1.1rem;
}

#number .number__content .number__item p.countUpNumber {
  font-size: 2.5rem;
  padding: 20px 0;
  margin: 0;
  color: #dc4f72;
  font-weight: 700;
}

/* TARGET  */
#target {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
    url(../img/masterWork07.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#target .title {
  max-width: 600px;
  margin: 0;
}

#target .title h2 {
  font-size: 2rem;
  color: white;
}

#target .title p {
  color: white;
  line-height: 1.5em;
  margin: 20px 0 40px 0;
}

#target .title .btn-primary {
  color: black;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

#target .title .btn-primary:hover {
  background-color: #dae0e5;
  border-color: #dae0e5;
}

/* PROJECTS  */
#project .project__content .nav-link {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
  text-align: center;
  border-bottom: 3px solid #5a5a5a;
  border-radius: 0;
}

#project .project__content .nav-link.active,
.nav-pills .show > .nav-link {
  color: #dc4f72;
  background-color: transparent;
  border-color: #dc4f72;
}

#project .project__item .title h2 {
  font-size: 2.1rem;
}

#project .project__item .title p {
  line-height: 1.5em;
}

#project .project__item img {
  border-radius: 10px;
}

#project .project__content .collapse__project {
  font-size: 1.3rem;
  padding: 10px 15px;
  color: #dc4f72;
  text-decoration: none;
  background-color: #f5f5f5;
  /* border: 1px solid #c1c1c1 !important; */
  border-bottom: 3px solid #dc4f72 !important;
  transition: all 0.5s;
}

#project .project__content .collapse__project.collapsed {
  color: black;
  border-bottom: 1px solid #c1c1c1 !important;
}

#project .project__content .collapse__project i.fa-caret-up {
  display: block;
}

#project .project__content .collapse__project.collapsed i.fa-caret-up {
  display: none;
}

#project .project__content .collapse__project i.fa-caret-down {
  display: none;
}

#project .project__content .collapse__project.collapsed i.fa-caret-down {
  display: block;
}

/* FEEDBACK  */
#feedback {
  padding: 50px 0;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url(../img/masterWork15.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#feedback .feedback__content .feedback__item {
  background-color: white;
  border-radius: 10px;
  padding: 32px;
  overflow: hidden;
}

#feedback .feedback__item .feedback__img {
  width: 100px;
  height: 100px;
  border: 3px solid #dc4f72;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  margin: auto;
}

#feedback .feedback__item .feedback__img img {
  width: 100%;
  height: 100%;
}

#feedback .feedback__item .feedback__icon i {
  font-size: 2.2rem;
  color: rgba(44, 48, 56, 0.2);
  text-align: right;
}

#feedback .feedback__item .feedback__text {
  font-size: 1.1rem;
  line-height: 1.5em;
  text-align: justify;
}

#feedback .feedback__item .feedback__text h4 {
  color: #dc4f72;
  font-size: 1.1rem;
  margin: 0;
}

#feedback .feedback__item .feedback__text span {
  font-size: 0.8rem;
  color: #5a5a5a;
}

#feedback .owl-theme .owl-dots .owl-dot:focus {
  outline: none;
}

#feedback .owl-theme .owl-dots .owl-dot span {
  border-radius: 0;
  width: 40px;
  height: 5px;
  background-color: white;
  transition: all 0.5s;
}

#feedback .owl-theme .owl-dots .active.owl-dot span,
#feedback .owl-theme .owl-dots .owl-dot:hover span {
  text-align: center;
  background-color: #dc4f72;
}

/* FOOTER  */

footer .form__contact {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

footer .form-control {
  padding: 10px 30px;
  height: 100%;
}

footer .btn-primary {
  color: white;
  background-color: #dc4f72;
}

footer .nav-link {
  color: #5a5a5a;
  transition: all 0.5s;
}

footer .nav-link:hover {
  color: #dc4f72;
}

footer .footer__copyRight a {
  color: #5a5a5a;
  transition: all 0.5s;
  text-decoration: none;
}

footer .footer__copyRight a:hover {
  color: #dc4f72;
}

/* BACK TO TOP  */
.backToTop {
  visibility: hidden;
  opacity: 0;
  width: 50px;
  height: 50px;
  background-color: rgba(220, 80, 115, 0.6);
  border-radius: 10px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 10px;
  bottom: 10px;
  color: white;
}

.backToTop a {
  color: white;
  text-decoration: none;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
